.student-dashboard {
  display: flex;
}

.student-sidebar {
  width: 250px;
  background-color: #640915;
  color: white;
  padding: 20px;
}

.student-logo {
  text-align: center;
  margin-bottom: 20px;
}

.student-logo img {
  width: 100px;
  height: auto;
}

.student-logo h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.student-sidebar nav ul {
  list-style: none;
  padding: 0;
}

.student-sidebar nav ul li {
  padding: 10px;
  cursor: pointer;
}

.student-sidebar nav ul li:hover {
  background-color: #630b0b;
}

.student-main-content {
  flex-grow: 1;
  padding: 20px;
}

.student-welcome-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.student-welcome-message h1 {
  font-size: 2em;
  margin: 0;
}

.student-welcome-message p {
  color: #666;
}

.student-logout {
  text-align: right;
}

.btn-logout {
  background-color: #b62313;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-logout:hover {
  background-color: #9e2012;
}

.student-content {
  margin-top: 20px;
}

.student-actions {
  display: flex;
  justify-content: space-around;
}

.student-action-card {
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
  text-align: center;
}

.student-action-card h3 {
  margin: 0;
  font-size: 1.5em;
}
